<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="http://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script>


  <style>
    html,
    body {
      height: 350px;
      width: 750px;
      margin: 0;
      overflow-x: hidden;
      overflow-y: hidden;
    }

    .el-header {
      background-color: #B3C0D1;
      color: #333;
      text-align: center;
      line-height: 60px;
    }

    .el-aside {
      background-color: #D3DCE6;
      color: #333;
      text-align: left;
      line-height: auto;
      height: 100%;
      padding: 15px;
      width: auto !important;

    }

    .txt {
      border: 0px solid black;
      background-color: blueviolet;
      border-radius: 5px;
      color: white;
      padding: 10px;
      font-family: "微软雅黑";

    }
  </style>
</head>

<body>

  <div id='app' style="height:100%;">
    <el-container style="height:100%">
      <el-header>
        <div>
          <span class="txt">大学习未完成查询</span>
        </div>
      </el-header>
      <el-container style="height:100%">
        <el-aside>
          <p>最新期数为：{{stagename}}</p>
          班级：

          <el-select v-model="classnum" size="medium" placeholder="请选择">
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
          </p>
          <p>
            显示：

            <el-select v-model="flag" size="medium" placeholder="请选择">
              <el-option v-for="item in options2" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
          </p>
          <p style="text-align: center;">
            <el-button type="primary" round v-on:click='ecxecute'>执行查询</el-button>
          </p>


        </el-aside>
        <el-main>
          <el-table :data="tableData" border style="width: 361px !important;padding-bottom: 80px;">
            <el-table-column prop="name" label="姓名" width="180">
            </el-table-column>
            <el-table-column prop="stdnum" label="学号" width="180">
            </el-table-column>

            </el-table-column>
          </el-table>
        </el-main>
      </el-container>
    </el-container>
  </div>

</body>

<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>

  const app = new Vue({
    el: '#app',
    data: {
      classnum: '',
      flag: '',
      stagename: '----',
      stagepara: '',
      options: [{
        value: '计算机科学与技术18-1班团支部',
        label: '一班'
      }, {
        value: '计算机科学与技术18-2班团支部',
        label: '二班'
      }, {
        value: '计算机科学与技术18-3班团支部',
        label: '三班'
      }, {
        value: '计算机科学与技术18-4班团支部',
        label: '四班'
      }, {
        value: '计算机科学与技术18-5班团支部',
        label: '五班'
      }],
      options2: [{
        value: true,
        label: '显示完成名单'
      }, {
        value: false,
        label: '显示未完成名单'
      }],
      tableData: null

    }, methods: {
      ecxecute() {

         let tabledata;
        if (this.flag == '' || this.classnum == '') {
          alert('请选择完整信息')
        }
        axios.get('http://dxx.ahyouth.org.cn/api/peopleRankStage', {params:{
          table_name: this.stagepara,
          level1:'直属高校',
          level2:'合肥工业大学',
          level3:'宣城校区计算机与信息系',
          level4:this.classnum,
        }})
          .then(function (response) {
           
            tabledatadata1 = JSON.parse(JSON.stringify(response.data)).list
            console.log(tabledatadata1);
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    }, created: function () {
      // `this` 指向 vm 实例
      axios.get('http://dxx.ahyouth.org.cn/api/peopleRankList')
        .then((response) => {

          data1 = JSON.parse(JSON.stringify(response.data));
          console.log(data1.list[0].table_name);
          this.stagepara = data1.list[0].table_name;
          this.stagename = data1.list[0].name;
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  }
  )
</script>


</html>
https://blog.csdn.net/h_c_l/article/details/90053398